// Importing Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

// Font Styling
* > div {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.font-white {
	color: white;
}

// Background default to #333 for fall back in non-gradient 
// accepting browsers
body {
	background: white;
}

// Overriding the default btn styling
#intro {
	.btn, .btn:visited, .btn:hover, .btn:focus, .btn:active {
		background: none !important;
		border: none !important;
		outline:none !important;
		box-shadow: none !important;
	}
}

// Styling nav
.nav {
	background-color: white;
	padding:20px 0px;
}

// Styling the introduction webpage
#intro, #register {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#41295a, #2F0743);
}

#register {
	flex-direction: column;

	.list-error-container {
		margin-top: 50px;
	}
}

#register-form {
	margin-top: 100px;

	//Removing the input spinners from the number input
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none;
	  margin: 0; 
	}
}