// Importing Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

// Font Styling
* > div {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.font-white {
	color: white;
}

.h3 {
	margin-bottom: 100px;
}

.h3-calc {
	margin-bottom: 50px;
}

.capitalise-on {
	text-transform: capitalize;
}

// Background default to #333 for fall back in non-gradient 
// accepting browsers
body {
	background: white;
}

// Styling nav
.nav {
	background-color: white;
	padding:20px 0px;
}

// Styling the introduction webpage
#wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#41295a, #2F0743);
}

// Setting flex properties to set direction to horizontal
.wrapper-flex-content {
	flex-direction: column;
}

.list-error-container {
	margin-top: 50px;
}

#register-form, #calculator-form {

	//Removing the input spinners from the number input
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none;
	  margin: 0; 
	}
}

.table {
	width:50%;
}